/* System Design Tokens */
:root {
  --sys-color-primary-primary: #690cb0ff;
  --sys-color-primary-on-primary: #ffffffff;
  --sys-color-primary-primary-container: #edd9fcff;
  --sys-color-primary-on-primary-container: #550a8fff;
  --sys-color-secondary-secondary: #580a94ff;
  --sys-color-secondary-on-secondary: #ffffffff;
  --sys-color-secondary-secondary-container: #edd9fcff;
  --sys-color-secondary-on-secondary-container: #550a8fff;
  --sys-color-tertiary-tertiary: #44056eff;
  --sys-color-tertiary-on-tertiary: #ffffffff;
  --sys-color-tertiary-tertiary-container: #f0ddfdff;
  --sys-color-tertiary-on-tertiary-container: #5a0792ff;
  --sys-color-add-on-surface-colors-background: #f7fafdff;
  --sys-color-add-on-surface-colors-on-background: #0f273eff;
  --sys-color-add-on-surface-colors-surface-bright: #f7fafdff;
  --sys-color-add-on-surface-colors-surface-dim: #adcdebff;
  --sys-color-add-on-surface-colors-scrim: #000000ff;
  --sys-color-add-on-surface-colors-shawdow: #000000ff;
  --sys-color-add-on-secondary-colors-secondary-fixed: #edd9fcff;
  --sys-color-add-on-secondary-colors-on-secondary-fixed: #2b0548ff;
  --sys-color-add-on-secondary-colors-secondary-fixed-dim: #d29ff9ff;
  --sys-color-add-on-secondary-colors-on-secondary-fixed-variant: #550a8fff;
  --sys-color-error-error: #f01b1fff;
  --sys-color-error-on-error: #ffffffff;
  --sys-color-error-error-container: #fccfd0ff;
  --sys-color-error-on-error-container: #8f090cff;
  --sys-color-surface-surface: #f7fafdff;
  --sys-color-surface-on-surface: #0f273eff;
  --sys-color-surface-surface-variant: #e4ebf2ff;
  --sys-color-surface-on-surface-variant: #334e68ff;
  --sys-color-surface-surface-container-highest: #deebf7ff;
  --sys-color-surface-surface-container-high: #deebf7ff;
  --sys-color-surface-surface-container: #deebf7ff;
  --sys-color-surface-surface-container-lowest: #ffffffff;
  --sys-color-surface-inverse-surface: #143452ff;
  --sys-color-surface-inverse-on-surface: #eaf2faff;
  --sys-color-surface-surface-tint: #245f98ff;
  --sys-color-surface-surface-tint-color: #245f98ff;
  --sys-color-outline-outline: #5480abff;
  --sys-color-outline-outline-variant: #bbccddff;
  --sys-color-add-on-primary-primary-fixed: #edd9fcff;
  --sys-color-add-on-primary-on-primary-fixed: #2b0548ff;
  --sys-color-add-on-primary-primary-fixed-dim: #d29ff8ff;
  --sys-color-add-on-primary-on-primary-fixed-dim: #2b0548ff;
  --sys-color-add-on-primary-inverse-primary: #d29ff8ff;
  --sys-color-add-on-tertiary-tertiary-fixed: #f0ddfdff;
  --sys-color-add-on-tertiary-on-tertiary-fixed: #2d0349ff;
  --sys-color-add-on-tertiary-tertiary-fixed-dim: #d59dfbff;
  --sys-color-add-on-tertiary-on-tertiary-fixed-variant: #5a0792ff;
  --sys-typography-display-2xl-regular-font-size: 72px;
  --sys-typography-display-2xl-regular-text-decoration: none;
  --sys-typography-display-2xl-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-display-2xl-regular-font-weight: 400;
  --sys-typography-display-2xl-regular-font-style: normal;
  --sys-typography-display-2xl-regular-font-stretch: normal;
  --sys-typography-display-2xl-regular-letter-spacing: -1.44px;
  --sys-typography-display-2xl-regular-line-height: 88px;
  --sys-typography-display-2xl-regular-paragraph-indent: 0px;
  --sys-typography-display-2xl-regular-paragraph-spacing: 0px;
  --sys-typography-display-2xl-regular-text-case: none;
  --sys-typography-display-2xl-medium-font-size: 72px;
  --sys-typography-display-2xl-medium-text-decoration: none;
  --sys-typography-display-2xl-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-display-2xl-medium-font-weight: 500;
  --sys-typography-display-2xl-medium-font-style: normal;
  --sys-typography-display-2xl-medium-font-stretch: normal;
  --sys-typography-display-2xl-medium-letter-spacing: -1.44px;
  --sys-typography-display-2xl-medium-line-height: 88px;
  --sys-typography-display-2xl-medium-paragraph-indent: 0px;
  --sys-typography-display-2xl-medium-paragraph-spacing: 0px;
  --sys-typography-display-2xl-medium-text-case: none;
  --sys-typography-display-2xl-semibold-font-size: 72px;
  --sys-typography-display-2xl-semibold-text-decoration: none;
  --sys-typography-display-2xl-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-2xl-semibold-font-weight: 600;
  --sys-typography-display-2xl-semibold-font-style: normal;
  --sys-typography-display-2xl-semibold-font-stretch: normal;
  --sys-typography-display-2xl-semibold-letter-spacing: -1.44px;
  --sys-typography-display-2xl-semibold-line-height: 88px;
  --sys-typography-display-2xl-semibold-paragraph-indent: 0px;
  --sys-typography-display-2xl-semibold-paragraph-spacing: 0px;
  --sys-typography-display-2xl-semibold-text-case: none;
  --sys-typography-display-2xl-bold-font-size: 72px;
  --sys-typography-display-2xl-bold-text-decoration: none;
  --sys-typography-display-2xl-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-2xl-bold-font-weight: 700;
  --sys-typography-display-2xl-bold-font-style: normal;
  --sys-typography-display-2xl-bold-font-stretch: normal;
  --sys-typography-display-2xl-bold-letter-spacing: -1.44px;
  --sys-typography-display-2xl-bold-line-height: 88px;
  --sys-typography-display-2xl-bold-paragraph-indent: 0px;
  --sys-typography-display-2xl-bold-paragraph-spacing: 0px;
  --sys-typography-display-2xl-bold-text-case: none;
  --sys-typography-display-xl-regular-font-size: 60px;
  --sys-typography-display-xl-regular-text-decoration: none;
  --sys-typography-display-xl-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xl-regular-font-weight: 400;
  --sys-typography-display-xl-regular-font-style: normal;
  --sys-typography-display-xl-regular-font-stretch: normal;
  --sys-typography-display-xl-regular-letter-spacing: -1.2px;
  --sys-typography-display-xl-regular-line-height: 72px;
  --sys-typography-display-xl-regular-paragraph-indent: 0px;
  --sys-typography-display-xl-regular-paragraph-spacing: 0px;
  --sys-typography-display-xl-regular-text-case: none;
  --sys-typography-display-xl-medium-font-size: 60px;
  --sys-typography-display-xl-medium-text-decoration: none;
  --sys-typography-display-xl-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xl-medium-font-weight: 500;
  --sys-typography-display-xl-medium-font-style: normal;
  --sys-typography-display-xl-medium-font-stretch: normal;
  --sys-typography-display-xl-medium-letter-spacing: -1.2px;
  --sys-typography-display-xl-medium-line-height: 72px;
  --sys-typography-display-xl-medium-paragraph-indent: 0px;
  --sys-typography-display-xl-medium-paragraph-spacing: 0px;
  --sys-typography-display-xl-medium-text-case: none;
  --sys-typography-display-xl-semibold-font-size: 60px;
  --sys-typography-display-xl-semibold-text-decoration: none;
  --sys-typography-display-xl-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xl-semibold-font-weight: 600;
  --sys-typography-display-xl-semibold-font-style: normal;
  --sys-typography-display-xl-semibold-font-stretch: normal;
  --sys-typography-display-xl-semibold-letter-spacing: -1.2px;
  --sys-typography-display-xl-semibold-line-height: 72px;
  --sys-typography-display-xl-semibold-paragraph-indent: 0px;
  --sys-typography-display-xl-semibold-paragraph-spacing: 0px;
  --sys-typography-display-xl-semibold-text-case: none;
  --sys-typography-display-xl-bold-font-size: 60px;
  --sys-typography-display-xl-bold-text-decoration: none;
  --sys-typography-display-xl-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xl-bold-font-weight: 700;
  --sys-typography-display-xl-bold-font-style: normal;
  --sys-typography-display-xl-bold-font-stretch: normal;
  --sys-typography-display-xl-bold-letter-spacing: -1.2px;
  --sys-typography-display-xl-bold-line-height: 72px;
  --sys-typography-display-xl-bold-paragraph-indent: 0px;
  --sys-typography-display-xl-bold-paragraph-spacing: 0px;
  --sys-typography-display-xl-bold-text-case: none;
  --sys-typography-display-lg-regular-font-size: 48px;
  --sys-typography-display-lg-regular-text-decoration: none;
  --sys-typography-display-lg-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-display-lg-regular-font-weight: 400;
  --sys-typography-display-lg-regular-font-style: normal;
  --sys-typography-display-lg-regular-font-stretch: normal;
  --sys-typography-display-lg-regular-letter-spacing: -0.96px;
  --sys-typography-display-lg-regular-line-height: 60px;
  --sys-typography-display-lg-regular-paragraph-indent: 0px;
  --sys-typography-display-lg-regular-paragraph-spacing: 0px;
  --sys-typography-display-lg-regular-text-case: none;
  --sys-typography-display-lg-medium-font-size: 48px;
  --sys-typography-display-lg-medium-text-decoration: none;
  --sys-typography-display-lg-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-display-lg-medium-font-weight: 500;
  --sys-typography-display-lg-medium-font-style: normal;
  --sys-typography-display-lg-medium-font-stretch: normal;
  --sys-typography-display-lg-medium-letter-spacing: -0.96px;
  --sys-typography-display-lg-medium-line-height: 60px;
  --sys-typography-display-lg-medium-paragraph-indent: 0px;
  --sys-typography-display-lg-medium-paragraph-spacing: 0px;
  --sys-typography-display-lg-medium-text-case: none;
  --sys-typography-display-lg-semibold-font-size: 48px;
  --sys-typography-display-lg-semibold-text-decoration: none;
  --sys-typography-display-lg-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-lg-semibold-font-weight: 600;
  --sys-typography-display-lg-semibold-font-style: normal;
  --sys-typography-display-lg-semibold-font-stretch: normal;
  --sys-typography-display-lg-semibold-letter-spacing: -0.96px;
  --sys-typography-display-lg-semibold-line-height: 60px;
  --sys-typography-display-lg-semibold-paragraph-indent: 0px;
  --sys-typography-display-lg-semibold-paragraph-spacing: 0px;
  --sys-typography-display-lg-semibold-text-case: none;
  --sys-typography-display-lg-bold-font-size: 48px;
  --sys-typography-display-lg-bold-text-decoration: none;
  --sys-typography-display-lg-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-lg-bold-font-weight: 700;
  --sys-typography-display-lg-bold-font-style: normal;
  --sys-typography-display-lg-bold-font-stretch: normal;
  --sys-typography-display-lg-bold-letter-spacing: -0.96px;
  --sys-typography-display-lg-bold-line-height: 60px;
  --sys-typography-display-lg-bold-paragraph-indent: 0px;
  --sys-typography-display-lg-bold-paragraph-spacing: 0px;
  --sys-typography-display-lg-bold-text-case: none;
  --sys-typography-display-md-regular-font-size: 36px;
  --sys-typography-display-md-regular-text-decoration: none;
  --sys-typography-display-md-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-display-md-regular-font-weight: 400;
  --sys-typography-display-md-regular-font-style: normal;
  --sys-typography-display-md-regular-font-stretch: normal;
  --sys-typography-display-md-regular-letter-spacing: -0.72px;
  --sys-typography-display-md-regular-line-height: 44px;
  --sys-typography-display-md-regular-paragraph-indent: 0px;
  --sys-typography-display-md-regular-paragraph-spacing: 0px;
  --sys-typography-display-md-regular-text-case: none;
  --sys-typography-display-md-medium-font-size: 36px;
  --sys-typography-display-md-medium-text-decoration: none;
  --sys-typography-display-md-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-display-md-medium-font-weight: 500;
  --sys-typography-display-md-medium-font-style: normal;
  --sys-typography-display-md-medium-font-stretch: normal;
  --sys-typography-display-md-medium-letter-spacing: -0.72px;
  --sys-typography-display-md-medium-line-height: 44px;
  --sys-typography-display-md-medium-paragraph-indent: 0px;
  --sys-typography-display-md-medium-paragraph-spacing: 0px;
  --sys-typography-display-md-medium-text-case: none;
  --sys-typography-display-md-semibold-font-size: 36px;
  --sys-typography-display-md-semibold-text-decoration: none;
  --sys-typography-display-md-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-md-semibold-font-weight: 600;
  --sys-typography-display-md-semibold-font-style: normal;
  --sys-typography-display-md-semibold-font-stretch: normal;
  --sys-typography-display-md-semibold-letter-spacing: -0.72px;
  --sys-typography-display-md-semibold-line-height: 44px;
  --sys-typography-display-md-semibold-paragraph-indent: 0px;
  --sys-typography-display-md-semibold-paragraph-spacing: 0px;
  --sys-typography-display-md-semibold-text-case: none;
  --sys-typography-display-md-bold-font-size: 36px;
  --sys-typography-display-md-bold-text-decoration: none;
  --sys-typography-display-md-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-md-bold-font-weight: 700;
  --sys-typography-display-md-bold-font-style: normal;
  --sys-typography-display-md-bold-font-stretch: normal;
  --sys-typography-display-md-bold-letter-spacing: -0.72px;
  --sys-typography-display-md-bold-line-height: 44px;
  --sys-typography-display-md-bold-paragraph-indent: 0px;
  --sys-typography-display-md-bold-paragraph-spacing: 0px;
  --sys-typography-display-md-bold-text-case: none;
  --sys-typography-display-sm-regular-font-size: 30px;
  --sys-typography-display-sm-regular-text-decoration: none;
  --sys-typography-display-sm-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-display-sm-regular-font-weight: 400;
  --sys-typography-display-sm-regular-font-style: normal;
  --sys-typography-display-sm-regular-font-stretch: normal;
  --sys-typography-display-sm-regular-letter-spacing: 0px;
  --sys-typography-display-sm-regular-line-height: 36px;
  --sys-typography-display-sm-regular-paragraph-indent: 0px;
  --sys-typography-display-sm-regular-paragraph-spacing: 0px;
  --sys-typography-display-sm-regular-text-case: none;
  --sys-typography-display-sm-medium-font-size: 30px;
  --sys-typography-display-sm-medium-text-decoration: none;
  --sys-typography-display-sm-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-display-sm-medium-font-weight: 500;
  --sys-typography-display-sm-medium-font-style: normal;
  --sys-typography-display-sm-medium-font-stretch: normal;
  --sys-typography-display-sm-medium-letter-spacing: 0px;
  --sys-typography-display-sm-medium-line-height: 36px;
  --sys-typography-display-sm-medium-paragraph-indent: 0px;
  --sys-typography-display-sm-medium-paragraph-spacing: 0px;
  --sys-typography-display-sm-medium-text-case: none;
  --sys-typography-display-sm-semibold-font-size: 30px;
  --sys-typography-display-sm-semibold-text-decoration: none;
  --sys-typography-display-sm-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-sm-semibold-font-weight: 600;
  --sys-typography-display-sm-semibold-font-style: normal;
  --sys-typography-display-sm-semibold-font-stretch: normal;
  --sys-typography-display-sm-semibold-letter-spacing: 0px;
  --sys-typography-display-sm-semibold-line-height: 36px;
  --sys-typography-display-sm-semibold-paragraph-indent: 0px;
  --sys-typography-display-sm-semibold-paragraph-spacing: 0px;
  --sys-typography-display-sm-semibold-text-case: none;
  --sys-typography-display-sm-bold-font-size: 30px;
  --sys-typography-display-sm-bold-text-decoration: none;
  --sys-typography-display-sm-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-sm-bold-font-weight: 700;
  --sys-typography-display-sm-bold-font-style: normal;
  --sys-typography-display-sm-bold-font-stretch: normal;
  --sys-typography-display-sm-bold-letter-spacing: 0px;
  --sys-typography-display-sm-bold-line-height: 36px;
  --sys-typography-display-sm-bold-paragraph-indent: 0px;
  --sys-typography-display-sm-bold-paragraph-spacing: 0px;
  --sys-typography-display-sm-bold-text-case: none;
  --sys-typography-display-xs-regular-font-size: 24px;
  --sys-typography-display-xs-regular-text-decoration: none;
  --sys-typography-display-xs-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xs-regular-font-weight: 400;
  --sys-typography-display-xs-regular-font-style: normal;
  --sys-typography-display-xs-regular-font-stretch: normal;
  --sys-typography-display-xs-regular-letter-spacing: 0px;
  --sys-typography-display-xs-regular-line-height: 32px;
  --sys-typography-display-xs-regular-paragraph-indent: 0px;
  --sys-typography-display-xs-regular-paragraph-spacing: 0px;
  --sys-typography-display-xs-regular-text-case: none;
  --sys-typography-display-xs-medium-font-size: 24px;
  --sys-typography-display-xs-medium-text-decoration: none;
  --sys-typography-display-xs-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xs-medium-font-weight: 500;
  --sys-typography-display-xs-medium-font-style: normal;
  --sys-typography-display-xs-medium-font-stretch: normal;
  --sys-typography-display-xs-medium-letter-spacing: 0px;
  --sys-typography-display-xs-medium-line-height: 32px;
  --sys-typography-display-xs-medium-paragraph-indent: 0px;
  --sys-typography-display-xs-medium-paragraph-spacing: 0px;
  --sys-typography-display-xs-medium-text-case: none;
  --sys-typography-display-xs-semibold-font-size: 24px;
  --sys-typography-display-xs-semibold-text-decoration: none;
  --sys-typography-display-xs-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xs-semibold-font-weight: 600;
  --sys-typography-display-xs-semibold-font-style: normal;
  --sys-typography-display-xs-semibold-font-stretch: normal;
  --sys-typography-display-xs-semibold-letter-spacing: 0px;
  --sys-typography-display-xs-semibold-line-height: 32px;
  --sys-typography-display-xs-semibold-paragraph-indent: 0px;
  --sys-typography-display-xs-semibold-paragraph-spacing: 0px;
  --sys-typography-display-xs-semibold-text-case: none;
  --sys-typography-display-xs-bold-font-size: 24px;
  --sys-typography-display-xs-bold-text-decoration: none;
  --sys-typography-display-xs-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-display-xs-bold-font-weight: 700;
  --sys-typography-display-xs-bold-font-style: normal;
  --sys-typography-display-xs-bold-font-stretch: normal;
  --sys-typography-display-xs-bold-letter-spacing: 0px;
  --sys-typography-display-xs-bold-line-height: 32px;
  --sys-typography-display-xs-bold-paragraph-indent: 0px;
  --sys-typography-display-xs-bold-paragraph-spacing: 0px;
  --sys-typography-display-xs-bold-text-case: none;
  --sys-typography-text-xl-regular-font-size: 20px;
  --sys-typography-text-xl-regular-text-decoration: none;
  --sys-typography-text-xl-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xl-regular-font-weight: 400;
  --sys-typography-text-xl-regular-font-style: normal;
  --sys-typography-text-xl-regular-font-stretch: normal;
  --sys-typography-text-xl-regular-letter-spacing: 0px;
  --sys-typography-text-xl-regular-line-height: 30px;
  --sys-typography-text-xl-regular-paragraph-indent: 0px;
  --sys-typography-text-xl-regular-paragraph-spacing: 0px;
  --sys-typography-text-xl-regular-text-case: none;
  --sys-typography-text-xl-medium-font-size: 20px;
  --sys-typography-text-xl-medium-text-decoration: none;
  --sys-typography-text-xl-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xl-medium-font-weight: 500;
  --sys-typography-text-xl-medium-font-style: normal;
  --sys-typography-text-xl-medium-font-stretch: normal;
  --sys-typography-text-xl-medium-letter-spacing: 0px;
  --sys-typography-text-xl-medium-line-height: 30px;
  --sys-typography-text-xl-medium-paragraph-indent: 0px;
  --sys-typography-text-xl-medium-paragraph-spacing: 0px;
  --sys-typography-text-xl-medium-text-case: none;
  --sys-typography-text-xl-semibold-font-size: 20px;
  --sys-typography-text-xl-semibold-text-decoration: none;
  --sys-typography-text-xl-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xl-semibold-font-weight: 600;
  --sys-typography-text-xl-semibold-font-style: normal;
  --sys-typography-text-xl-semibold-font-stretch: normal;
  --sys-typography-text-xl-semibold-letter-spacing: 0px;
  --sys-typography-text-xl-semibold-line-height: 30px;
  --sys-typography-text-xl-semibold-paragraph-indent: 0px;
  --sys-typography-text-xl-semibold-paragraph-spacing: 0px;
  --sys-typography-text-xl-semibold-text-case: none;
  --sys-typography-text-xl-bold-font-size: 20px;
  --sys-typography-text-xl-bold-text-decoration: none;
  --sys-typography-text-xl-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xl-bold-font-weight: 700;
  --sys-typography-text-xl-bold-font-style: normal;
  --sys-typography-text-xl-bold-font-stretch: normal;
  --sys-typography-text-xl-bold-letter-spacing: 0px;
  --sys-typography-text-xl-bold-line-height: 30px;
  --sys-typography-text-xl-bold-paragraph-indent: 0px;
  --sys-typography-text-xl-bold-paragraph-spacing: 0px;
  --sys-typography-text-xl-bold-text-case: none;
  --sys-typography-text-lg-regular-font-size: 18px;
  --sys-typography-text-lg-regular-text-decoration: none;
  --sys-typography-text-lg-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-text-lg-regular-font-weight: 400;
  --sys-typography-text-lg-regular-font-style: normal;
  --sys-typography-text-lg-regular-font-stretch: normal;
  --sys-typography-text-lg-regular-letter-spacing: 0px;
  --sys-typography-text-lg-regular-line-height: 28px;
  --sys-typography-text-lg-regular-paragraph-indent: 0px;
  --sys-typography-text-lg-regular-paragraph-spacing: 0px;
  --sys-typography-text-lg-regular-text-case: none;
  --sys-typography-text-lg-medium-font-size: 18px;
  --sys-typography-text-lg-medium-text-decoration: none;
  --sys-typography-text-lg-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-text-lg-medium-font-weight: 500;
  --sys-typography-text-lg-medium-font-style: normal;
  --sys-typography-text-lg-medium-font-stretch: normal;
  --sys-typography-text-lg-medium-letter-spacing: 0px;
  --sys-typography-text-lg-medium-line-height: 28px;
  --sys-typography-text-lg-medium-paragraph-indent: 0px;
  --sys-typography-text-lg-medium-paragraph-spacing: 0px;
  --sys-typography-text-lg-medium-text-case: none;
  --sys-typography-text-lg-semibold-font-size: 18px;
  --sys-typography-text-lg-semibold-text-decoration: none;
  --sys-typography-text-lg-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-lg-semibold-font-weight: 600;
  --sys-typography-text-lg-semibold-font-style: normal;
  --sys-typography-text-lg-semibold-font-stretch: normal;
  --sys-typography-text-lg-semibold-letter-spacing: 0px;
  --sys-typography-text-lg-semibold-line-height: 28px;
  --sys-typography-text-lg-semibold-paragraph-indent: 0px;
  --sys-typography-text-lg-semibold-paragraph-spacing: 0px;
  --sys-typography-text-lg-semibold-text-case: none;
  --sys-typography-text-lg-bold-font-size: 18px;
  --sys-typography-text-lg-bold-text-decoration: none;
  --sys-typography-text-lg-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-lg-bold-font-weight: 700;
  --sys-typography-text-lg-bold-font-style: normal;
  --sys-typography-text-lg-bold-font-stretch: normal;
  --sys-typography-text-lg-bold-letter-spacing: 0px;
  --sys-typography-text-lg-bold-line-height: 28px;
  --sys-typography-text-lg-bold-paragraph-indent: 0px;
  --sys-typography-text-lg-bold-paragraph-spacing: 0px;
  --sys-typography-text-lg-bold-text-case: none;
  --sys-typography-text-md-regular-font-size: 16px;
  --sys-typography-text-md-regular-text-decoration: none;
  --sys-typography-text-md-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-text-md-regular-font-weight: 400;
  --sys-typography-text-md-regular-font-style: normal;
  --sys-typography-text-md-regular-font-stretch: normal;
  --sys-typography-text-md-regular-letter-spacing: 0px;
  --sys-typography-text-md-regular-line-height: 24px;
  --sys-typography-text-md-regular-paragraph-indent: 0px;
  --sys-typography-text-md-regular-paragraph-spacing: 0px;
  --sys-typography-text-md-regular-text-case: none;
  --sys-typography-text-md-medium-font-size: 16px;
  --sys-typography-text-md-medium-text-decoration: none;
  --sys-typography-text-md-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-text-md-medium-font-weight: 500;
  --sys-typography-text-md-medium-font-style: normal;
  --sys-typography-text-md-medium-font-stretch: normal;
  --sys-typography-text-md-medium-letter-spacing: 0px;
  --sys-typography-text-md-medium-line-height: 24px;
  --sys-typography-text-md-medium-paragraph-indent: 0px;
  --sys-typography-text-md-medium-paragraph-spacing: 0px;
  --sys-typography-text-md-medium-text-case: none;
  --sys-typography-text-md-semibold-font-size: 14px;
  --sys-typography-text-md-semibold-text-decoration: none;
  --sys-typography-text-md-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-md-semibold-font-weight: 600;
  --sys-typography-text-md-semibold-font-style: normal;
  --sys-typography-text-md-semibold-font-stretch: normal;
  --sys-typography-text-md-semibold-letter-spacing: 0px;
  --sys-typography-text-md-semibold-line-height: 20px;
  --sys-typography-text-md-semibold-paragraph-indent: 0px;
  --sys-typography-text-md-semibold-paragraph-spacing: 0px;
  --sys-typography-text-md-semibold-text-case: none;
  --sys-typography-text-md-bold-font-size: 14px;
  --sys-typography-text-md-bold-text-decoration: none;
  --sys-typography-text-md-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-md-bold-font-weight: 700;
  --sys-typography-text-md-bold-font-style: normal;
  --sys-typography-text-md-bold-font-stretch: normal;
  --sys-typography-text-md-bold-letter-spacing: 0px;
  --sys-typography-text-md-bold-line-height: 20px;
  --sys-typography-text-md-bold-paragraph-indent: 0px;
  --sys-typography-text-md-bold-paragraph-spacing: 0px;
  --sys-typography-text-md-bold-text-case: none;
  --sys-typography-text-sm-regular-font-size: 14px;
  --sys-typography-text-sm-regular-text-decoration: none;
  --sys-typography-text-sm-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-text-sm-regular-font-weight: 400;
  --sys-typography-text-sm-regular-font-style: normal;
  --sys-typography-text-sm-regular-font-stretch: normal;
  --sys-typography-text-sm-regular-letter-spacing: 0px;
  --sys-typography-text-sm-regular-line-height: 20px;
  --sys-typography-text-sm-regular-paragraph-indent: 0px;
  --sys-typography-text-sm-regular-paragraph-spacing: 0px;
  --sys-typography-text-sm-regular-text-case: none;
  --sys-typography-text-sm-medium-font-size: 14px;
  --sys-typography-text-sm-medium-text-decoration: none;
  --sys-typography-text-sm-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-text-sm-medium-font-weight: 500;
  --sys-typography-text-sm-medium-font-style: normal;
  --sys-typography-text-sm-medium-font-stretch: normal;
  --sys-typography-text-sm-medium-letter-spacing: 0px;
  --sys-typography-text-sm-medium-line-height: 20px;
  --sys-typography-text-sm-medium-paragraph-indent: 0px;
  --sys-typography-text-sm-medium-paragraph-spacing: 0px;
  --sys-typography-text-sm-medium-text-case: none;
  --sys-typography-text-xs-regular-font-size: 12px;
  --sys-typography-text-xs-regular-text-decoration: none;
  --sys-typography-text-xs-regular-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xs-regular-font-weight: 400;
  --sys-typography-text-xs-regular-font-style: normal;
  --sys-typography-text-xs-regular-font-stretch: normal;
  --sys-typography-text-xs-regular-letter-spacing: 0px;
  --sys-typography-text-xs-regular-line-height: 18px;
  --sys-typography-text-xs-regular-paragraph-indent: 0px;
  --sys-typography-text-xs-regular-paragraph-spacing: 0px;
  --sys-typography-text-xs-regular-text-case: none;
  --sys-typography-text-xs-medium-font-size: 12px;
  --sys-typography-text-xs-medium-text-decoration: none;
  --sys-typography-text-xs-medium-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xs-medium-font-weight: 500;
  --sys-typography-text-xs-medium-font-style: normal;
  --sys-typography-text-xs-medium-font-stretch: normal;
  --sys-typography-text-xs-medium-letter-spacing: 0px;
  --sys-typography-text-xs-medium-line-height: 18px;
  --sys-typography-text-xs-medium-paragraph-indent: 0px;
  --sys-typography-text-xs-medium-paragraph-spacing: 0px;
  --sys-typography-text-xs-medium-text-case: none;
  --sys-typography-text-xs-semibold-font-size: 12px;
  --sys-typography-text-xs-semibold-text-decoration: none;
  --sys-typography-text-xs-semibold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xs-semibold-font-weight: 600;
  --sys-typography-text-xs-semibold-font-style: normal;
  --sys-typography-text-xs-semibold-font-stretch: normal;
  --sys-typography-text-xs-semibold-letter-spacing: 0px;
  --sys-typography-text-xs-semibold-line-height: 18px;
  --sys-typography-text-xs-semibold-paragraph-indent: 0px;
  --sys-typography-text-xs-semibold-paragraph-spacing: 0px;
  --sys-typography-text-xs-semibold-text-case: none;
  --sys-typography-text-xs-bold-font-size: 12px;
  --sys-typography-text-xs-bold-text-decoration: none;
  --sys-typography-text-xs-bold-font-family: "Plus Jakarta Sans";
  --sys-typography-text-xs-bold-font-weight: 700;
  --sys-typography-text-xs-bold-font-style: normal;
  --sys-typography-text-xs-bold-font-stretch: normal;
  --sys-typography-text-xs-bold-letter-spacing: 0px;
  --sys-typography-text-xs-bold-line-height: 18px;
  --sys-typography-text-xs-bold-paragraph-indent: 0px;
  --sys-typography-text-xs-bold-paragraph-spacing: 0px;
  --sys-typography-text-xs-bold-text-case: none;
}